/* :root {
  --color-primary-yellow: #FFD53B;
  --color-primary-dark-blue: #211931;
  --color-primary-gray: #89AFB2;
  --color-neutral-white: white;
  --color-neutral-dark-300: #A7ADB2;
  --color-status-green: #4B8227;
} */